:root {
    --ion-color-primary: #2CCED2; /* Barre du haut et bas */
    --ion-color-secondary: #F9968B; /* Couleur de survol des icones */
    --ion-color-tertiary: #76CDCD; /* Icones */
    --ion-color-light: #F27438;
    --ion-background-color: #26474E; /* Fond */
    --ion-text-color: #ffffff; /* Texte */
    --font-family-base: 'Poppins', sans-serif;
}

.logo-header {
    height: 70px;
    width: auto;
}

.icon-header {
    color: var(--ion-color-tertiary);
    height: 40px;
    width: 40px;
}

body, ion-app, ion-content, ion-label, ion-title, ion-button {
    font-family: var(--font-family-base);
}

.native-input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px var(--ion-background-color) inset !important;
    -webkit-text-fill-color: var(--ion-text-color) !important;
}

.native-wrapper {
    overflow: hidden;
    border-radius: 50px;
    text-align: center;
}

.input-wrapper {
    padding-bottom: 50px;
}
